{
  "ignorePatterns": ["!node_modules/*"],
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "consistent-this": [2, "self"],
    "no-use-before-define": [2, "nofunc"],
    "consistent-return": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "no-new": 0,
    "no-process-exit": 0,
    "no-path-concat": 0,
    "no-loop-func": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-explicit-any": "off"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
  },
  "env":{
    "browser": true,
    "node": true,
    "es6": true
  }
}
